@import '~antd/dist/antd.css';

.content {
  background: #ffffff;
  padding: 100px;
}

.logo {
    margin-left:-10px;
    width:180px
  }

.layout{
    margin: 16px 0;
    padding: 0px 24px 24px;
   }

.menu{
    height: '100%';
}